.pole{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    margin: 0 auto;
}


.massage{
    width: 80%;
    border-radius: 50px;
    font-size: 20px;
    padding: 7px 0 0 15px;
    outline: none; 
    resize: none;
}


.final{
    width: 15%;
    min-width: 150px;
    border-radius: 50px;
    font-size: 20px;
    background: linear-gradient(200deg, #FF3D00, #F06292);
    color: white;
}


@media (max-width: 700px) {
    .pole{
        width: 95%;
    }
}