/* вся форма */
.form{
    width: 95%;
    margin: 0 auto;
    z-index: 20;
}


/* название формы */
.nameForm{
    width: 100%;
    height: auto;
    font-size: 30px;
    margin: 10px 0 10px 0;
    text-align: center;
}


/* блок с полями */
.pole{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}


.label{
    display: flex;
    justify-content: space-around;
    font-size: 25px;
}


/* поле для имени, почты и номера телефона */
.name, .email, .tel{
    width: 100%;
    height: 30px;
    font-size: 20px;
    padding-left: 5px;
}



/* поле для сообщения */
.massage{
    width: 100%;
    height: 250px;
    max-height: 250px;
    min-height: 40px;
    font-size: 20px;
    padding: 5px;
    resize: vertical;
}


/* кнопка отравить */
.final{
    width: 100%;
    height: 60px;
    font-size: 25px;
    border-radius: 20px;
    margin-top: 20px;
    background-color: rgb(128, 128, 128, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
}
.final:hover{
    border: 2px solid white;
    background-color: rgb(128, 128, 128, 0.3);
}








@media (max-height: 650px) {
    .massage{
        height: 150px;
    }
}

@media (max-height: 600px) {
    .massage{
        height: 100px;
    }
}   

@media (max-height: 550px) {
    .massage{
        height: 70px;
    }

    .pole{
        margin-top: 20px;
    }
}   

@media (max-height: 500px) {
    .massage{
        height: 50px;
    }

    .pole{
        margin-top: 10px;
    }

    .final{
        margin-top: 10px;
    }
}  




